---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Conócenos">
    <div class="container py-5 text-center">
        <h1 class="display-5">Sobre Apex</h1>
        <p class="lead">Página en construcción. Aquí irá la Misión y Visión.</p>
    </div>
</Layout>