---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Contacto">
    <div class="container py-5 text-center">
        <h1 class="display-5">Contáctanos</h1>
        <p class="lead">Página en construcción. Aquí irán los formularios.</p>
    </div>
</Layout>